
<!DOCTYPE HTML>

<html>
    <head>
    <title>
        home
    </title>
    <style>
        header{
        font-size:23px;
        color:dark;
        background-color:#7f7f9f;
        height:vh;
        }
       
        .column{
           
            float:left;
            width:20%;
            padding:10px;
            background-color:black;
            
            text-color:white;
            text_decoration:None;
            
            width:500px;
            border:2px solid #f0f0f0;
	        border-radius:5px;
           
            box-shadow:2px 2px 2px 2px rgb(138,137,137);
            text-align:none;
            
            
        }
        
        
            
        
        button{
            width:500px;
            height:6vh;
            padding:10px;
            border:2px solid #9f9f9f;
	        border-radius:5px;
           
            box-shadow:2px 2px 2px 2px #0f0f0f;
            
           

        }
      
       
       

        
        a{
            text-decoration:none;
            font-size:18px;
            

        }
        
        

    </style>
    </head>
    <body><header>
        <p> List Of A-level schools in Tanzania.
            Find out list of A level schools in Tanzania including Advanced Certificate of Secondary Education Examination (ACSEE) Schools and form six schools:  This guide provides the list of the most popular A level schools in Tanzania to let you find your favourite A level schools.
                    Below is the Full list of A level schools in Tanzania.<b><i><u>  click school button to register</u></i></b></p>
        </header>
       
        <div class="column">
       



  
        
        <button><a href={%url 'registration'%}> P0101 AZANIA CENTRE</a></button>
        <button><a href={%url 'registration'%}> P0104 BWIRU BOYS’ CENTRE</a></button>
            <button><a href={%url 'registration'%}>P0110 ILBORU CENTRE</a></button>
                <button><a href={%url 'registration'%}> P0112 IYUNGA CENTRE</a></button>
                    <button><a href={%url 'registration'%}> P0116 KANTALAMBA CENTRE</a></button>
                        <button><a href={%url 'registration'%}> P0119 KIBAHA CENTRE</a></button>
                            <button><a href={%url 'registration'%}>P0123 KWIRO CENTRE</a></button>
                                <button><a href={%url 'registration'%}> P0129 MARA CENTRE</a></button>
                                    <button><a href={%url 'registration'%}> P0132 MILAMBO CENTRE</a></button>
                                        <button><a href={%url 'registration'%}> P0133 MINAKI CENTRE</a></button>
                                            <button><a href={%url 'registration'%}> P0134 MOSHI CENTRE</a></button>
                                                <button><a href={%url 'registration'%}> P0135 MOSHI TECHNICAL CENTRE</a></button>
                                                    <button><a href={%url 'registration'%}> P0136 MUSOMA CENTRE</a></button>
                                                        <button><a href={%url 'registration'%}>P0138 MPWAPWA CENTRE</a></button>
                                                            <button><a href={%url 'registration'%}> P0140 MZUMBE CENTRE</a></button>
                                                                <button><a href={%url 'registration'%}> P0143 NJOMBE CENTRE</a></button>
                                                                    <button><a href={%url 'registration'%}> P0145 NYAKATO CENTRE</a></button>
                                                                        <button><a href={%url 'registration'%}> P0147 PUGU CENTRE</a></button>
                                                                            <button><a href={%url 'registration'%}> P0150 SAME CENTRE</a></button>
                                                                                <button><a href={%url 'registration'%}> P0151 SENGEREMA CENTRE</a></button>
                                                                                    <button><a href={%url 'registration'%}> P0152 SHINYANGA CENTRE</a></button>
                                                                                        <button><a href={%url 'registration'%}> P0153 SONGEA BOYS’ CENTRE</a></button>
                                                                                            <button><a href={%url 'registration'%}> P0156 TANGA TECHNICAL CENTRE</a></button>
                                                                                                <button><a href={%url 'registration'%}>P0158 TOSAMAGANGA CENTRE</a></button>
                                                                                                    <button><a href={%url 'registration'%}> P0167 KIDUGALA SEMINARY CENTRE</a></button>
                                                                                                        <button><a href={%url 'registration'%}> P0178 MANOW LUTHERAN SEMINARY CENTRE</a></button>
                                                                                                            <button><a href={%url 'registration'%}> P0203 IRINGA GIRLS’ CENTRE</a></button>
                                                                                                                <button><a href={%url 'registration'%}> P0209 KOROGWE CENTRE</a></button>
                                                                                                                    <button><a href={%url 'registration'%}> P0210 BIGWA SISTERS’ CENTRE</a></button>
                                                                                                                        <button><a href={%url 'registration'%}>  P0211 LOLEZA CENTRE</a></button>
                                                                                                                            <button><a href={%url 'registration'%}> P0218 RUGAMBWA CENTRE</a></button>
                                                                                                                                <button><a href={%url 'registration'%}> P0219 SONGEA GIRLS’ CENTRE</a></button>
                                                                                                                                    <button><a href={%url 'registration'%}> P0220 TABORA GIRLS’ CENTRE</a></button>
                                                                                                                                        <button><a href={%url 'registration'%}> P0228 MPANDA GIRLS’ CENTRE</a></button>
                                                                                                                                            <button><a href={%url 'registration'%}> P0301 AIRWING J.W.T.Z. CENTRE</a></button>
                                                                                                                                                <button><a href={%url 'registration'%}> P0302 ARUSHA CENTRE</a></button>
                                                                                                                                                    <button><a href={%url 'registration'%}> P0305 BULUBA CENTRE</a></button>
                                                                                                                                                        <button><a href={%url 'registration'%}> P0306 DODOMA CENTRE</a></button>
                                                                                                                                                            <button><a href={%url 'registration'%}> P0308 ENABOISHU CENTRE</a></button>
                                                                                                                                                                <button><a href={%url 'registration'%}> P0309 FIDEL CASTRO CENTRE</a></button>
                                                                                                                                                                    <button><a href={%url 'registration'%}> P0313 IKIZU CENTRE</a></button>
                                                                                                                                                                        <button><a href={%url 'registration'%}> P0316 KIBASILA CENTRE</a></button>
                                                                                                                                                                            <button><a href={%url 'registration'%}> P0320 KIGOMA CENTRE</a></button>
                                                                                                                                                                                <button><a href={%url 'registration'%}> P0321 KINONDONI CENTRE</a></button>
                                                                                                                                                                                    <button><a href={%url 'registration'%}> P0324 LINDI CENTRE</a></button>
     
                                                                                                                                                                                       
    </div>
        
       
            
    </body>

</html>